body{
    background-color: black;
    
}
body{
    background-image: url(bg\ of\ sanju.jpeg);
    background-size: calc(100%);
    background-repeat: no-repeat;
}

img{width: 25%;
    align-items: center;
   
    margin-left: auto;
    margin-top: 20%;

    
}
h1,h5{
    
    text-align: center;
}
svg{
    color: #0066ff;
    
}
body
{
    overflow-x: hidden;

}


